body {
/*  min-height: 100vh;*/
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 40px 20px;
  padding: 50px 100px;
  justify-content: space-between;
  color: #404040;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
    /*flex: 0 150px;*/
    display: flex;
    font-family: 'Cream', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0 0 20px;
}

article {
  margin: 0px;
  padding: 0px;
  border: solid 3px #404040;
  border-radius: 20px;
}

main {
  flex: 1;
  display: flex;
  padding: 0px;

}


a:hover {
  cursor: url('./images/fire.png'), auto;
}


nav a{
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  text-decoration: none;
 /* line-height: 1.4em;*/
}

nav a:hover {
  color: #404040;
  cursor: url('./images/fire.png'), auto;
}

header {
  background-color: none;
/*  box-sizing: border-box;*/
}


nav ul {
  display: flex;
}

nav ul li {
  box-sizing: border-box;
  padding: 15px;
}


p {
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}

#featured {
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #595959;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 30px;
}

section {
  height: 300px;
  width: 300px;
  padding: 10px;
  background-color: #E5F9FA;
  border: solid 3px #404040;
  border-radius: 20px;
  margin: 0px 25px 30px 25px;
  position: relative;
}


span {
  opacity: 0;
  font-family: 'System UI', sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #595959;
  position: relative;

}

img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:hover {
  opacity: .4;
}

.mod figure {
  background: #ffffff;
  border-radius: 20px;
}


.mod:hover {
  text-align: center;
}

figure:hover+span {
  opacity: 1;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 1025px) {
  header {
    flex-wrap: wrap;
    }
/*
  .logo {
    justify-content: flex-start;
    align-items: flex-start;
  }*/

  nav {
    justify-content: left;
    flex-wrap: nowrap;
  }

  section {
    flex-basis: 300px;
    }

}

/* --- MEDIA QUERIES END -- */

