/* FLEXBOX GOES HERE */

body {
  /* three properties */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 50 100px;
  justify-content: space-between;
  color: #404040;
}

 header {
  display: flex;
  flex-direction: column;
  }

  .logo {
      /*flex: 0 150px;*/
      flex-wrap: nowrap;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Cream', sans-serif;
      font-size: 40px;
      padding: 0 0 0 20px;
  }


  main {
      flex: 1;
      display: flex;
      flex-direction: column;
  }

  .mod {
    flex: 1;

  }


body {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
 /* line-height: 1.4em;*/
}

header {
  background-color: none;
/*  box-sizing: border-box;*/
}

nav {
  display: flex;
}

nav ul li {
  box-sizing: border-box;
  padding: 15px;
}

article {
  background-color: none;
/*  box-sizing: border-box;*/
}

section {
/*  border: 1px solid grey;*/
}

.content {
  padding: 50px;
}

.mod {
  height: 300px;
  width: auto;
  padding: 10px;
  background-color: #E5F9FA;
  border: solid 3px #404040;
  border-radius: 20px;
  margin: 50px 20px;
}

/*aside {
  background-color: none;
  padding: 50px;
  box-sizing: border-box;
}

footer {
  background-color: none;
  padding: 50px;
  box-sizing: border-box;
}
*/

/*MEDIA QUERIES*/

@media screen and (min-width: 1025px) {
  header {
          flex-direction: row;
          justify-content: space-between;
      }

      nav ul {
          display: flex;
      }
  }

  main {
          flex-direction: row;
      }

      aside {
          flex: 1;
      }

      article {
          flex: 3;
      }
  }

