body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  padding: 50px 100px;
  justify-content: space-between;
  color: #404040;
}

header {
display: flex;
flex-direction: column;
}

.logo {
    /*flex: 0 150px;*/
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cream', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0 0 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.mod {
  flex: 1 300px;
/*  min-width: 300px;*/
}

/*a:hover {
  cursor: url('./images/fire.png'), auto;
}
*/

#featured {
  margin-top: 20px;
  margin-left: 30px;
}

nav a{
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  text-decoration: none;
 /* line-height: 1.4em;*/
}

nav a:hover {
  color: #404040;
  cursor: url('./images/fire.png'), auto;
}

header {
  background-color: none;
/*  box-sizing: border-box;*/
}

nav {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li {
  box-sizing: border-box;
  padding: 15px;
}


p {
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #404040;
}

#featured {
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 11px;
  color: #595959;
  text-transform: uppercase;
}


.mod {
  height: 300px;
  width: auto;
  padding: 10px;
  background-color: #E5F9FA;
  border: solid 3px #404040;
  border-radius: 20px;
  margin: 30px 25px;
}


/*MEDIA QUERIES*/
@media screen and (min-width: 1025px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    }

  .logo {
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  nav {
    justify-content: left;
  }

  main {
    flex-basis: 300px;
    }

}

/* --- MEDIA QUERIES END -- */

