body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 40px 20px;
  padding: 50 100px;
  justify-content: space-between;
  color: #404040;
}

header {
display: flex;
flex-direction: column;
}

.logo {
    /*flex: 0 150px;*/
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cream', sans-serif;
    font-weight: 600;
    font-size: 40px;
    padding: 0 0 0 20px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.mod {
  flex: 1;
/*  min-width: 300px;*/
}


nav a {
  font-family: 'System UI', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #737373;
  text-decoration: none;
 /* line-height: 1.4em;*/
}

nav a:hover {
  color: #404040;
}

header {
  background-color: none;
/*  box-sizing: border-box;*/
}

nav {
  display: flex;
}

nav ul {
  display: flex;
}

nav ul li {
  box-sizing: border-box;
  padding: 15px;
}

article {
  background-color: none;
/*  box-sizing: border-box;*/
}

section {
/*  border: 1px solid grey;*/
}

.content {
  padding: 50px;
}

.mod {
  height: 300px;
  width: auto;
  padding: 10px;
  background-color: #E5F9FA;
  border: solid 3px #404040;
  border-radius: 20px;
  margin: 40px 25px;
}

/*aside {
  background-color: none;
  padding: 50px;
  box-sizing: border-box;
}

footer {
  background-color: none;
  padding: 50px;
  box-sizing: border-box;
}
*/

/*MEDIA QUERIES*/
@media screen and (min-width: 1025px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    }

  .logo {
    justify-content: left;
    align-items: left;
  }

  nav {
    justify-content: left;
  }
}

/* --- MEDIA QUERIES END -- */
  main {
          flex-direction: row;
      }

      aside {
          flex: 1;
      }

      article {
          flex: 3;
      }
  }

